@model IEnumerable<ProjectJohnnatan.Models.TModel>

@{
    ViewBag.Title = "Index";

    if (@Session["administratorId"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ModelId)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBrand.BrandName)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.ModelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBrand.BrandName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ModelId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ModelId })
            </td>
        </tr>
    }

</table>

<div class="row mx-md-n2">
    <div class="col-md-3"><div class="p-2 border bg-light text-center">@Html.ActionLink("Create a New Model", "Create", "Model")</div></div>
    <div class="col-md-3"><div class="p-2 border bg-light text-center">@Html.ActionLink("Go Back to DashBoard", "DashBoard", "Administrator")</div></div>
</div>
