@model ProjectJohnnatan.Models.TModel

@{
    ViewBag.Title = "SearchedCar";
}

<h2>SearchedCar</h2>


<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBrand.BrandName)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.ModelId)
        </td>
        <td>
            @Html.DisplayFor(model => model.ModelName)
        </td>
        <td>
            @Html.DisplayFor(model => model.TBrand.BrandName)
        </td>
    </tr>
    

</table>

<div class="row mx-md-n2">
    <div class="col-md-2"><div class="p-2 border bg-light text-center">@Html.ActionLink("Back to Search", "Search", "Model")</div></div>
    <div class="col-md-2"><div class="p-2 border bg-light text-center">@Html.ActionLink("Back to Home", "Index", "Home")</div></div>
</div>