@model ProjectJohnnatan.Models.TModel

@{
    ViewBag.Title = "Search";
}

<h1>SEARCH</h1>

<br />

<h4>Which car do you want to buy today?</h4>

<br />

@using (Html.BeginForm())
{
    <div class="row mx-md-10">
        <div class="form-group">

            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label" })

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BrandId, new SelectList(Model.ListOfBrands, "BrandId", "BrandName", "Select"))
                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.ModelName, htmlAttributes: new { @class = "control-label" })


            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModelId, new SelectList(Model.ListOfModels, "ModelId", "ModelName", "Select"))
                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-1 btn btn-primary">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}

@*<div class="row mx-md-n2">
    <div class="col-md-2"><div class="p-2 border bg-light text-center">@Html.ActionLink("Back to Home", "Index", "Home")</div></div>
</div>
*@
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBrand.BrandName)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.ModelId)
        </td>
        <td>
            @Html.DisplayFor(model => model.ModelName)
        </td>
        <td>
            @Html.DisplayFor(model => model.TBrand.BrandName)
        </td>
    </tr>


</table>

<div class="row mx-md-n2">
    <div class="col-md-2"><div class="p-2 border bg-light text-center">@Html.ActionLink("Back to Search", "Search", "Model")</div></div>
    <div class="col-md-2"><div class="p-2 border bg-light text-center">@Html.ActionLink("Back to Home", "Index", "Home")</div></div>
</div>