@model ProjectJohnnatan.Models.TBrand

@{
    ViewBag.Title = "Details";

    if (@Session["administratorId"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<h2>Details</h2>

<div>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

    </dl>

</div>

<div class="row mx-md-n2">
    <div class="col-md-2"><div class="p-2 border bg-light text-center">@Html.ActionLink("Edit", "Edit", new { id = Model.BrandId })</div></div>
    <div class="col-md-2"><div class="p-2 border bg-light text-center">@Html.ActionLink("Back to List", "Index" , "Brand")</div></div>
</div>